<h3><a href="/manufacturers/">All Manufacturers</a></h3>
<h3><a href="/vehicles/">All Vehicles</a></h3>

<h1>All Vehicles</h1>

<% @vehicles.each do |car| %>
 <p>Name: <%= car.name %></p>
 <p>Pistons: <%= car.number_of_cylinders %></p>
 <p>Favorite: <%= car.favorite_type %></p>
<% end %>