<h3><a href="/manufacturers/">All Manufacturers</a></h3>
<h3><a href="/vehicles/">All Vehicles</a></h3>

<h1>All Manufacturers</h1>

<% @manufacturers.each do |manufacturer| %>
 <p>Name: <%= manufacturer.name %></p>
 <p>Number of sub manufacturers: <%= manufacturer.number_of_sub_manufacturers %></p>
 <p>Favorite manufacturer: <%= manufacturer.favorite_manufacturer %></p>
<% end %>

